<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.name %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/basic-table.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  </head>
  <body>
    <table>
      <tr>
        <td>User ID</td>
        <td><%= data.id %></td>
      </tr>
      <tr>
        <td>User Name</td>
        <td><%= data.name %></td>
      </tr>
      <tr>
        <td>Current Balance</td>
        <td><%= data.current_balance %></td>
      </tr>
      <tr>
        <td>Date</td>
        <td><%= data.time %></td>
      </tr>
      <tr>
    </table>
    <br>
    <table>
      <thead>
        <tr>
          <th>Service Type</th>
	  <th>Previous Balance</th>
	  <th>Change Amount</th>
	  <th>Current Balance</th>
	  <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% records.reverse().forEach(function(records) { %>
          <tr>
            <td><%= records.service_type %></td>
            <td><%= records.previous_balance %></td>
            <td><%= records.change_amount %></td>
            <td><%= records.current_balance %></td>
            <td><%= records.time %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <br>
    <div class="btn-group">
      <a id="users-list" href="/users" class="btn btn-primary">Go back to users page</a>
      <a id="operation" href="/users/operation/<%= data.id %>" class="btn btn-primary">Go to operation page</a>
      <a id="link-edit" href="/users/edit/<%= data.id %>" class="btn btn-primary">Edit username</a>
      <button id="delete-button" data-id="<%= data.id %>" class="btn btn-primary">DELETE USER</a>
    </div>

    <script>
        $(document).ready(function () {
            $('#delete-button').on('click', function () {
                const userId = $(this).attr('data-id');

                $.ajax({
                  url: '/users/delete/' + userId + '?_method=DELETE',
                  type: 'POST',
                  success: function (result) {
                    alert('User deleted successfully');
                    window.location = '/users';
                  },
                  error: function (xhr, status, error) {
                    alert('Deleting user failed');
                  }
                });
            });
         });
    </script>
  </body>
</html>
